@page "/"

<<<<<<< HEAD
<Blazor.Pages.Principal>
</Blazor.Pages.Principal>

<AuthorizeView>
    <NotAuthorized>
        <div class="class="col-xs-1" align="center">
            <h2 style="font-weight:700">Debe identificarse para poder acceder al sistema</h2>
            <span class="oi oi-arrow-thick-bottom" style="font-size:40px" ></span>
            <br />
            <a style="color:blue; font-weight:700; font-size:28px; " href="Ingreso" class="ml-md-auto">Login</a>
        </div>
    </NotAuthorized> 
</AuthorizeView>
=======
<PageTitle>Hotel 1900</PageTitle>

<h1>Hello, Bienvenidos al mejor hotel!</h1>

Donde se podran hacer las mejores reservas del mundo.

<SurveyPrompt Title="Proyecto desarrollado por alumnos de la clase programación 3, sección 1900" />
>>>>>>> ebc9539c1623b014f4adf07874cc484a1d4939c1
