@page "/"

<PageTitle>Hotel 1900</PageTitle>

<h1>Hello, Bienvenidos al mejor hotel!</h1>

Donde se podran hacer las mejores reservas del mundo.

<SurveyPrompt Title="Proyecto desarrollado por alumnos de la clase programación 3, sección 1900" />
