<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Por favor ingrese a:
        <a target="_blank" class="font-weight-bold link-dark" href="https://campusvirtual.unah.edu.hn/login/index.php">brief survey</a>
    </span>
    para evaluarnos.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
